root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
indent_size = 2
indent_style = tab
max_line_length=80

[*.{xml,target}]
indent_size = 2
indent_style = tab

[*.py]
indent_size = 4
indent_style = space
