<?xml version="1.0" encoding="UTF-8"?>
<plugin>

	<extension 
		id="product" 
		point="org.eclipse.core.runtime.products">
		<product 
			application="sophena.application" 
			name="Sophena">
			<property name="appName" value="Sophena"/>
   <property
         name="aboutImage"
         value="icons/AboutDialogLogo.png">
   </property>
   <property
         name="aboutText"
         value="Sophena - Version 1.1, Mai 2017&#x0A;&#x0A;Sophena wird Ihnen von C.A.R.M.E.N. e.V. unter der Mozilla Public License zur Verfügung gestellt.&#x0A;_____________________________________________________________________________&#x0A;&#x0A;C.A.R.M.E.N. e.V.&#x0A;Centrales Agrar-Rohstoff Marketing- und Energie-Netzwerk e.V.&#x0A;http://www.carmen-ev.de - contact@carmen-ev.de">
   </property>
   <property
         name="windowImages"
         value="icons/WindowImages/16x16.png,icons/WindowImages/32x32.png,icons/WindowImages/48x48.png,icons/WindowImages/64x64.png,icons/WindowImages/128x128.png,icons/WindowImages/256x256.png">
   </property>
		</product>
	</extension>
	
	<extension 
		id="application" 
		point="org.eclipse.core.runtime.applications">
		<application 
			cardinality="singleton-global" 
			thread="main" 
			visible="true">
			<run class="sophena.rcp.Application"/>
		</application>
	</extension>
	
	<extension 
		point="org.eclipse.ui.perspectives">
		<perspective 
			name="Perspective" 
			class="sophena.rcp.Perspective" 
			id="perspectives.standard"/>
	</extension>
	
	<!-- Navigation -->
	<extension 
		point="org.eclipse.ui.views">
		<view 
			allowMultiple="false" 
			class="sophena.rcp.navigation.Navigator" 
			id="sophena.Navigator" 
			name="Navigation"
			icon="icons/navigation_16.png"/>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.viewer">
	
		<viewer viewerId="sophena.Navigator">		
			<options>
		        <property
		            name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
		            value="true">
		         </property>
		         <property
		            name="org.eclipse.ui.navigator.hideCollapseAllAction"
		            value="true">
		         </property>
		         <property
		            name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog"
		            value="true">
		         </property>
			</options>
		</viewer>
		<viewerContentBinding viewerId="sophena.Navigator">
			<includes>
				<contentExtension 
					isRoot="true" 
					pattern="sophena.NavigationContent"/>
			</includes>
		</viewerContentBinding>
		<viewerActionBinding viewerId="sophena.Navigator">
			<includes>
				<actionExtension pattern="sophena.NavigationMenu"/>
			</includes>
		</viewerActionBinding>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		
		<navigatorContent 
			activeByDefault="true" 
			contentProvider="sophena.rcp.navigation.NavigationContent" 
			id="sophena.NavigationContent" 
			labelProvider="sophena.rcp.navigation.NavigationLabel" 
			name="#Navigation content" 
			priority="normal">
			<triggerPoints>
				<instanceof value="sophena.rcp.navigation.NavigationElement"/>
			</triggerPoints>
			<commonSorter class="sophena.rcp.navigation.NavigationSorter"/>
			<possibleChildren>
				<instanceof value="sophena.rcp.navigation.NavigationElement"/>
			</possibleChildren>
		</navigatorContent>
		
		<actionProvider 
			class="sophena.rcp.navigation.NavigationMenu" 
			id="sophena.NavigationMenu" 
			priority="normal">
			<enablement></enablement>
		</actionProvider>
		
	</extension>
	
	<!-- Wizards -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard 
			class="sophena.rcp.wizards.ProjectWizard" 
			id="sophena.ProjectWizard" 
			name="#Projekt"/>
	</extension>
	
	<!-- Editors -->
	<extension point="org.eclipse.ui.editors">
		<editor 
			class="sophena.rcp.editors.projects.ProjectEditor" 
			id="sophena.ProjectEditor" 
			name="Projekt"
            icon="icons/project_16.png" />

        <editor
            class="sophena.rcp.editors.consumers.ConsumerEditor"
            id="sophena.ConsumerEditor"
            name="Abnehmer"
            icon="icons/consumer_16.png" />

		<editor
            class="sophena.rcp.editors.producers.ProducerEditor"
            id="sophena.ProducerEditor"
            name="Erzeuger"
            icon="icons/producer_16.png" />

        <editor
            class="sophena.rcp.editors.basedata.climate.ClimateDataEditor"
            icon="icons/climate_16.png"
            id="sophena.ClimateDataEditor"
            name="Klimadaten" />

        <editor
            class="sophena.rcp.editors.basedata.fuels.FuelEditor"
            icon="icons/fuel_16.png"
            id="sophena.FuelEditor"
            name="Energieträger" />
            
         <editor
            class="sophena.rcp.editors.basedata.manufacturers.ManufacturerEditor"
            icon="icons/manufacturer_16.png"
            id="sophena.ManufacturerEditor"
            name="Hersteller" />
            
        <editor
            class="sophena.rcp.editors.basedata.ProductGroupEditor"
            icon="icons/product_16.png"
            id="sophena.ProductGroupEditor"
            name="Produktgruppen" />

		<editor
			class="sophena.rcp.editors.basedata.boilers.BoilerEditor"
			icon="icons/boiler_16.png"
			id="sophena.BoilerEditor"
			name="Heizkessel" />
			
		<editor
			class="sophena.rcp.editors.basedata.buildings.BuildingStateEditor"
			icon="icons/building_type_16.png"
			id="sophena.BuildingStateEditor"
			name="Gebäudetypen" />
			
		<editor
			class="sophena.rcp.editors.basedata.pipes.PipeEditor"
			icon="icons/pipe_16.png"
			id="sophena.PipeEditor"
			name="Wärmeleitungen" />

		<editor
			class="sophena.rcp.editors.basedata.buffers.BufferTankEditor"
			icon="icons/buffer_16.png"
			id="sophena.BufferEditor"
			name="Pufferspeicher" />

		<editor
			class="sophena.rcp.editors.basedata.transfer.stations.TransferStationEditor"
			icon="icons/consumer_16.png"
			id="sophena.TransferStationEditor"
			name="Wärmeübergabestationen" />

		<editor
			class="sophena.rcp.editors.basedata.BaseCostEditor"
			icon="icons/costs_16.png"
			id="sophena.BaseCostEditor"
			name="Kosteneinstellungen" />

		<editor
			class="sophena.rcp.editors.heatnets.HeatNetEditor"
			icon="icons/pump_16.png"
			id="sophena.HeatNetEditor"
			name="Wärmeverteilung" />

		<editor
			class="sophena.rcp.editors.results.single.ResultEditor"
			icon="icons/load_profile_16.png"
			id="sophena.ResultEditor"
			name="Ergebnisse" 
			contributorClass="sophena.rcp.editors.results.single.ResultToolBar"/>

		<editor
        	id="sophena.ComparisonView"
        	icon="icons/bar_chart_16.png"
        	class="sophena.rcp.editors.results.compare.ComparisonView"
        	name="Ergebnisvergleich"
        	contributorClass="sophena.rcp.editors.results.compare.ComparisonToolBar" />

		<editor
			class="sophena.rcp.editors.costs.CostEditor"
			icon="icons/costs_16.png"
			id="sophena.CostEditor"
			name="Kosten" />
			
		<editor
			class="sophena.rcp.editors.sql.SqlEditor"
			icon="icons/run_16.png"
			id="SqlEditor"
			name="SQL" />
			
		<editor
			class="sophena.rcp.editors.basedata.products.BoilerAccessoriesEditor"
			id="sophena.products.BoilerAccessoriesEditor"
			name="Kesselzubehör" />

		<editor
			class="sophena.rcp.editors.basedata.products.ProductEditor"
			id="sophena.products.ProductEditor"
			name="Products" />

		<editor
			class="sophena.rcp.editors.basedata.products.HeatRecoveryEditor"
			id="sophena.products.HeatRecoveryEditor"
			icon="icons/heat_recovery_16.png"
			name="Wärmerückgewinnung" />

		<editor
			class="sophena.rcp.editors.basedata.products.FlueGasCleaningEditor"
			id="sophena.products.FlueGasCleaningEditor"
			name="Rauchgasreinigung"
			icon="icons/flue_gas_16.png" />

		<editor
			class="sophena.rcp.editors.basedata.products.BoilerHouseTechnologyEditor"
			id="sophena.products.BoilerHouseTechnologyEditor"
			name="Heizhaus-Technik" />

		<editor
			class="sophena.rcp.editors.basedata.products.BuildingProductEditor"
			id="sophena.products.BuildingProductEditor"
			name="Gebäude" />

		<editor
			class="sophena.rcp.editors.basedata.products.HeatingNetConstructionEditor"
			id="sophena.products.HeatingNetConstructionEditor"
			name="Wärmenetz-Bau" />
			
		<editor
			class="sophena.rcp.editors.basedata.products.HeatingNetTechnologyEditor"
			id="sophena.products.HeatingNetTechnologyEditor"
			name="Wärmenetz-Technik" />

		<editor
			class="sophena.rcp.editors.basedata.products.PlanningEditor"
			id="sophena.products.PlanningEditor"
			name="Planung" />
  <editor
        class="sophena.rcp.editors.StartPage"
        default="false"
        icon="icons/home.png"
        id="sophena.StartPage"
        name="Start page">
  </editor>
	</extension>
</plugin>
