<?xml version="1.0" encoding="UTF-8"?>
<plugin>

	<extension 
		id="product" 
		point="org.eclipse.core.runtime.products">
		<product 
			application="sophena.application" 
			name="Sophena">
			<property name="appName" value="Sophena"/>
		</product>
	</extension>
	
	<extension 
		id="application" 
		point="org.eclipse.core.runtime.applications">
		<application 
			cardinality="singleton-global" 
			thread="main" 
			visible="true">
			<run class="sophena.rcp.Application"/>
		</application>
	</extension>
	
	<extension 
		point="org.eclipse.ui.perspectives">
		<perspective 
			name="Perspective" 
			class="sophena.rcp.Perspective" 
			id="perspectives.standard"/>
	</extension>
	
	<!-- Navigation -->
	<extension 
		point="org.eclipse.ui.views">
		<view 
			allowMultiple="false" 
			class="sophena.rcp.navigation.Navigator" 
			id="sophena.Navigator" 
			name="Navigation"
			icon="icons/navigation_16.png"/>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.viewer">
	
		<viewer viewerId="sophena.Navigator">		
			<options>
		        <property
		            name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
		            value="true">
		         </property>
		         <property
		            name="org.eclipse.ui.navigator.hideCollapseAllAction"
		            value="true">
		         </property>
		         <property
		            name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog"
		            value="true">
		         </property>
			</options>
		</viewer>
		<viewerContentBinding viewerId="sophena.Navigator">
			<includes>
				<contentExtension 
					isRoot="true" 
					pattern="sophena.NavigationContent"/>
			</includes>
		</viewerContentBinding>
		<viewerActionBinding viewerId="sophena.Navigator">
			<includes>
				<actionExtension pattern="sophena.NavigationMenu"/>
			</includes>
		</viewerActionBinding>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		
		<navigatorContent 
			activeByDefault="true" 
			contentProvider="sophena.rcp.navigation.NavigationContent" 
			id="sophena.NavigationContent" 
			labelProvider="sophena.rcp.navigation.NavigationLabel" 
			name="#Navigation content" 
			priority="normal">
			<triggerPoints>
				<instanceof value="sophena.rcp.navigation.NavigationElement"/>
			</triggerPoints>
			<commonSorter class="sophena.rcp.navigation.NavigationSorter"/>
			<possibleChildren>
				<instanceof value="sophena.rcp.navigation.NavigationElement"/>
			</possibleChildren>
		</navigatorContent>
		
		<actionProvider 
			class="sophena.rcp.navigation.NavigationMenu" 
			id="sophena.NavigationMenu" 
			priority="normal">
			<enablement></enablement>
		</actionProvider>
		
	</extension>
	
	<!-- Wizards -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard 
			class="sophena.rcp.wizards.ProjectWizard" 
			id="sophena.ProjectWizard" 
			name="#Projekt"/>
	</extension>
	
	<!-- Editors -->
	<extension point="org.eclipse.ui.editors">
		<editor 
			class="sophena.rcp.editors.projects.ProjectEditor" 
			id="sophena.ProjectEditor" 
			name="#Project editor"/>

        <editor
            class="sophena.rcp.editors.consumers.ConsumerEditor"
            id="sophena.ConsumerEditor"
            name="#Consumer editor"/>

        <editor
            class="sophena.rcp.editors.basedata.climate.ClimateDataEditor"
            icon="icons/climate_16.png"
            id="sophena.ClimateDataEditor"
            name="Klimadaten" />

        <editor
            class="sophena.rcp.editors.basedata.fuels.FuelEditor"
            icon="icons/fuel_16.png"
            id="sophena.FuelEditor"
            name="Brennstoffe" />

		<editor
			class="sophena.rcp.editors.basedata.boilers.BoilerEditor"
			icon="icons/boiler_16.png"
			id="sophena.BoilerEditor"
			name="Heizkessel" />

		<editor
			class="sophena.rcp.editors.results.energy.EnergyResultEditor"
			icon="icons/load_profile_16.png"
			id="sophena.EnergyResultEditor"
			name="Ergebnisse" />

	</extension>
</plugin>
