<?xml version="1.0" encoding="UTF-8"?>
<plugin>

	<extension
		id="product"
	    point="org.eclipse.core.runtime.products">
	    <product
           application="sophena.application"
           name="Sophena">
        <property
              name="appName"
              value="Sophena">
        </property>
	    </product>
	</extension>

	<extension
          id="application"
          point="org.eclipse.core.runtime.applications">
	    <application
	          cardinality="singleton-global"
	          thread="main"
	          visible="true">
	          <run
	                class="sophena.rcp.Application">
	          </run>
	    </application>
	</extension>
	
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="sophena.rcp.Perspective"
            id="perspectives.standard">
      </perspective>
   </extension>
   
   <!-- Wizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="sophena.rcp.wizards.ProjectWizard"
            id="sophena.ProjectWizard"
            name="#Projekt">
      </wizard>
   </extension>
   
   <!-- Editors -->
	 <extension
	       point="org.eclipse.ui.editors">
	       
	    <editor
	          class="sophena.rcp.editors.projects.ProjectEditor"
	          id="sophena.ProjectEditor"
	          name="#Project editor">
	    </editor>   
	    
	    <editor
	          class="sophena.editors.graph.GraphEditor"
	          icon="icons/sample.gif"
	          id="sophena.editors.graph.GraphEditor"
	          name="GraphEditor">
	    </editor>
	 </extension>

</plugin>
